@import "./../../master_css/Master.scss";



// !   ---------------------------------------------------------------------------
/*
todo mixin input_7 start
*/
// !   ---------------------------------------------------------------------------
@mixin input_7(
  $width,
  $height,
  $font_size,
  $font_family,
  $color_1,
  $color_2,
  $color_3
) {
  .texbox_container {
    box-shadow: 1px 1px 5px gray;
    width: $width;
    height: $height;
    font-size: $font_size;
    font-family: $font_family;
    .texbox {
      overflow: hidden;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      @include box_sizing;
      input {
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 0px 0px 0px 31%;
        border: 1px solid $color_1;
        box-shadow: 1px 1px 5px gray;
        background-color: transparent;
        border-radius: 5x;
        outline: none;
        color: $color_2;
        z-index: 1;
        @include box_sizing;
        &:valid ~ .span_holder,
        &:focus ~ .span_holder {
          .icon {
            @include transition(all, 0s, 1s, linear);
            // box-shadow: 1px 1px 5px 0px $color_3;
            cursor: pointer;
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-color: $color_3;
            width: 50%;
            width: 30%;
            background-size: 100% 100%;
          }
        }
      }

      .span_holder {
        @include box_sizing;
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: all;
          cursor: pointer;
          @include transition(all, 0s, 1s, linear);
          position: absolute;
          bottom: 0px;
          left: 0px;
          background-color: $color_1;
          width: 30%;
          height: 100%;
          background-size: 100% 100%;
        }
      }
    }
  }
}
// !   ---------------------------------------------------------------------------
/*
todo mixin input_7 end
*/
// !   ---------------------------------------------------------------------------
.input_7 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include input_7(
    300px,
    30px,
    15px,
    Oswald,
    $color_six_4,
    $color_six_1,
    $color_six_3
  );
}


// !   ---------------------------------------------------------------------------
/*
todo input_7
*/
// !   ---------------------------------------------------------------------------

.container{

  @include grid(repeat(4, 1fr),repeat(2, 1fr))
}
.input_7{
  @include column(2,4);
  @include row(1, 3) ;
}