/*
todo  font-family: "Dancing Script", cursive;
todo  font-optical-sizing: auto;
todo  font-weight: <weight>;
todo  font-style: normal;
todo
todo  font-family: "Oswald", sans-serif;
todo  font-optical-sizing: auto;
todo  font-weight: <weight>;
todo  font-style: normal;
todo
todo  <link rel="stylesheet" href="main.css">
todo 	<link rel="preconnect" href="https://fonts.googleapis.com">
todo 	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
todo 	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
todo 	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

*/
/*
todo @include media(sm){
todo   .hello{
todo     background-color: lightblue;
todo   }
todo   
todo }
*/
/*
todo .smaple_one{
todo   @include grid(3,3)
todo }
todo .smaple_two{
todo   @include grid(3,3,10px,start,start,start,start,start,start)
todo }
*/
/*
todo  .sample_one{
todo  @include column(1,2)
todo  }
todo  .sample_two{
todo  @include row(1,2)
todo   }
*/
/*
todo .sample{
todo   @include transition(all,1,5,linear)
todo }
*/
/*
todo .sample_one {
todo   @include animation(
todo     sample_two, //animation-name
todo     3s, //animation-duration
todo     2s, //nimation-delay
todo     infinite, //animation-iteration-count
todo     alternate, //animation-direction:
todo     linear, //nimation-timing-function
todo     forwards, //nimation-fill-mode
todo     (0px, 10px, 50px, 10px, 10px),//translateX
todo     (0px, 10px, 50px, 10px, 10px),//translateY
todo     (0px, 10px, 50px, 10px, 10px, 10px),//translateZ
todo     (1deg, 5deg, 1deg, 5deg, 1deg),//rotate
todo     (0.1, 0.5, 0.2, 0.5, 0.3),//scaleX
todo     (0.1, 0.5, 0.2, 0.5, 0.3),//scaleY
todo     (0.1, 0.5, 0.2, 0.5, 0.3),//scaleZ
todo     (1deg, 5deg, 1deg, 5deg, 1deg),//skewX
todo     (1deg, 5deg, 1deg, 5deg, 1deg), //skewY
todo     (0%,25%,50%,75%,100%), //width
todo     (0%,25%,50%,75%,100%) //height
todo 
todo   );
todo }
*/
/*
todo @include box_sizing
*/
/*
todo mixin input_7 start
*/
/*
todo mixin input_7 end
*/
.input_7 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_7 .texbox_container {
  box-shadow: 1px 1px 5px gray;
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_7 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_7 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 31%;
  border: 1px solid #f1eee9;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  z-index: 1;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_7 .texbox_container .texbox input:valid ~ .span_holder .icon, .input_7 .texbox_container .texbox input:focus ~ .span_holder .icon {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 50%;
  width: 30%;
  background-size: 100% 100%;
}
.input_7 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_7 .texbox_container .texbox .span_holder .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #f1eee9;
  width: 30%;
  height: 100%;
  background-size: 100% 100%;
}

/*
todo input_7
*/
.countainer {
  display: grid;
  grid-gap: 0px;
  justify-content: stretch;
  justify-items: stretch;
  justify-self: stretch;
  align-content: stretch;
  align-items: stretch;
  align-self: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.input_7 {
  grid-column: 2/4;
  grid-row: 1/3;
}/*# sourceMappingURL=ShowPassword.css.map */