/*
todo  font-family: "Dancing Script", cursive;
todo  font-optical-sizing: auto;
todo  font-weight: <weight>;
todo  font-style: normal;
todo
todo  font-family: "Oswald", sans-serif;
todo  font-optical-sizing: auto;
todo  font-weight: <weight>;
todo  font-style: normal;
todo
todo  <link rel="stylesheet" href="main.css">
todo 	<link rel="preconnect" href="https://fonts.googleapis.com">
todo 	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
todo 	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
todo 	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

*/
/*
todo @include media(sm){
todo   .hello{
todo     background-color: lightblue;
todo   }
todo   
todo }
*/
/*
todo .smaple_one{
todo   @include grid(3,3)
todo }
todo .smaple_two{
todo   @include grid(3,3,10px,start,start,start,start,start,start)
todo }
*/
/*
todo  .sample_one{
todo  @include column(1,2)
todo  }
todo  .sample_two{
todo  @include row(1,2)
todo   }
*/
/*
todo .sample{
todo   @include transition(all,1,5,linear)
todo }
*/
/*
todo .sample_one {
todo   @include animation(
todo     sample_two, //animation-name
todo     3s, //animation-duration
todo     2s, //nimation-delay
todo     infinite, //animation-iteration-count
todo     alternate, //animation-direction:
todo     linear, //nimation-timing-function
todo     forwards, //nimation-fill-mode
todo     (0px, 10px, 50px, 10px, 10px),//translateX
todo     (0px, 10px, 50px, 10px, 10px),//translateY
todo     (0px, 10px, 50px, 10px, 10px, 10px),//translateZ
todo     (1deg, 5deg, 1deg, 5deg, 1deg),//rotate
todo     (0.1, 0.5, 0.2, 0.5, 0.3),//scaleX
todo     (0.1, 0.5, 0.2, 0.5, 0.3),//scaleY
todo     (0.1, 0.5, 0.2, 0.5, 0.3),//scaleZ
todo     (1deg, 5deg, 1deg, 5deg, 1deg),//skewX
todo     (1deg, 5deg, 1deg, 5deg, 1deg), //skewY
todo     (0%,25%,50%,75%,100%), //width
todo     (0%,25%,50%,75%,100%) //height
todo 
todo   );
todo }
*/
/*
todo @include box_sizing
*/
body {
  color: #000000;
  text-align: center;
  font-weight: bold;
  background-color: #dde6ed;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 7vw;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.repository_container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repository_title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5vw;
  color: #3d0000;
}

.repository {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5vw;
  color: #950101;
}

.header_line {
  display: flex;
  flex-direction: column;
  margin: 40px;
  justify-content: center;
  align-items: center;
}

.header_line_color_1 {
  background-color: #950101;
  height: 3px;
  width: 80%;
  animation-name: header_line_color_1;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes header_line_color_1 {
  0% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(0.99) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  25% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  50% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1.01) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  75% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  100% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(0.99) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
}

.header_line_color_2 {
  background-color: #ff0000;
  height: 3px;
  width: 70%;
  animation-name: header_line_color_2;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes header_line_color_2 {
  0% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1.01) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  25% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  50% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(0.99) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  75% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  100% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1.01) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
}

.header_line_color_3 {
  background-color: #ff004d;
  height: 3px;
  width: 60%;
  animation-name: header_line_color_3;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes header_line_color_3 {
  0% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(0.99) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  25% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  50% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1.01) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  75% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  100% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(0.99) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
}

.header_line_color_4 {
  background-color: #faef5d;
  height: 3px;
  width: 50%;
  animation-name: header_line_color_4;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes header_line_color_4 {
  0% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1.01) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  25% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  50% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(0.99) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  75% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  100% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1.01) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
}

.header_line_color_5 {
  background-color: #000000;
  height: 3px;
  width: 40%;
  animation-name: header_line_color_5;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes header_line_color_5 {
  0% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(0.99) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  25% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  50% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1.01) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  75% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  100% {
    transform: translateX(0) translateY(0) translateZ(0) perspective(0) scaleX(0.99) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2vw;
  color: #950101;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footer:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 30%;
  background: #ff004d;
  right: 50%;
  bottom: 0px;
  z-index: -1;
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  animation-name: footer;
  animation-duration: 25s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes footer {
  0% {
    transform: translateX(0px) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(0deg) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  25% {
    transform: translateX(-100px) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(180deg) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  50% {
    transform: translateX(0px) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(360deg) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  75% {
    transform: translateX(100px) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(180deg) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
  100% {
    transform: translateX(0px) translateY(0) translateZ(0) perspective(0) scaleX(1) scaleX(0deg) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 1;
    height: 1;
  }
}
.footer:hover {
  color: #f6f7d7;
}

.footer_link {
  margin-bottom: 10px;
  color: #950101;
  text-decoration: none;
}

/*
todo header footer
*/
/*
todo hover effect
*/
.container {
  width: 100vw;
}
@media only screen and (min-width: 0px) {
  .container {
    display: grid;
    grid-gap: 2px;
    justify-content: stretch;
    justify-items: stretch;
    justify-self: stretch;
    align-content: stretch;
    align-items: stretch;
    align-self: stretch;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
  }
}
@media only screen and (min-width: 786px) {
  .container {
    display: grid;
    grid-gap: 2px;
    justify-content: stretch;
    justify-items: stretch;
    justify-self: stretch;
    align-content: stretch;
    align-items: stretch;
    align-self: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
  }
}

/*
todo input_1
*/
/*
todo mixin input_1 start
*/
/*
todo mixin input_1 end
*/
.input_1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_1 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_1 .texbox_container .texbox {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_1 .texbox_container .texbox input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #f0f3ff;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_1 .texbox_container .texbox input:valid ~ .span_holder span, .input_1 .texbox_container .texbox input:focus ~ .span_holder span {
  color: #f72798;
  transform: translateY(-30px);
  letter-spacing: 0.3em;
}
.input_1 .texbox_container .texbox input:focus {
  background-color: #f1eee9;
  border: 1px solid #15f5ba;
}
.input_1 .texbox_container .texbox .span_holder {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_1 .texbox_container .texbox .span_holder span {
  position: absolute;
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 1em;
  color: #15133c;
  height: 100%;
}

/*
todo input_1
*/
/*
todo input_2
*/
/*
todo mixin input_2 start
*/
/*
todo mixin input_2 end
*/
.input_2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_2 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_2 .texbox_container .texbox {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_2 .texbox_container .texbox input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #f0f3ff;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  padding: 0px 0px 0px 80px;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_2 .texbox_container .texbox input:valid ~ .span_holder span, .input_2 .texbox_container .texbox input:focus ~ .span_holder span {
  color: #f72798;
  transform: translateY(-30px);
}
.input_2 .texbox_container .texbox input:focus {
  background-color: #f1eee9;
  border: 1px solid #15f5ba;
  padding: 0px 0px 0px 10px;
}
.input_2 .texbox_container .texbox input:valid {
  background-color: #f1eee9;
  border: 1px solid #15f5ba;
  padding: 0px 0px 0px 10px;
}
.input_2 .texbox_container .texbox .span_holder {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_2 .texbox_container .texbox .span_holder span {
  position: absolute;
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 1em;
  color: #15133c;
  height: 100%;
  background-color: #15f5ba;
  left: 0;
  width: 75px;
}

/*
todo input_2
*/
/*
todo input_3
*/
/*
todo mixin input_3 start
*/
/*
todo mixin input_3 end
*/
.input_3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_3 .texbox_container {
  box-shadow: 1px 1px 5px gray;
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_3 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_3 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #f0f3ff;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  padding: 0px 0px 0px 80px;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_3 .texbox_container .texbox input:valid ~ .span_holder .title_effect, .input_3 .texbox_container .texbox input:focus ~ .span_holder .title_effect {
  color: #f72798;
  width: 100%;
}
.input_3 .texbox_container .texbox input:valid ~ .span_holder .title, .input_3 .texbox_container .texbox input:focus ~ .span_holder .title {
  color: #f72798;
  border-right: 3px solid #f72798;
  background-color: #15133c;
}
.input_3 .texbox_container .texbox .span_holder {
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_3 .texbox_container .texbox .span_holder .title {
  position: absolute;
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 1em;
  color: #15133c;
  height: 100%;
  background-color: #15f5ba;
  left: 0;
  width: 65px;
  z-index: 1;
}
.input_3 .texbox_container .texbox .span_holder .title_effect {
  position: absolute;
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 1em;
  color: #15133c;
  height: 100%;
  background-color: #15f5ba;
  left: 0;
  width: 75px;
}

/*
todo input_3
*/
/*
todo input_4
*/
/*
todo mixin input_4 start
*/
/*
todo mixin input_4 end
*/
.input_4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_4 .texbox_container {
  box-shadow: 1px 1px 5px gray;
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_4 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_4 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #f1eee9;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_4 .texbox_container .texbox input:valid ~ .span_holder .border_top, .input_4 .texbox_container .texbox input:focus ~ .span_holder .border_top {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  box-shadow: 1px 1px 5px 0px #15133c;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 2px;
}
.input_4 .texbox_container .texbox input:valid ~ .span_holder .border_left, .input_4 .texbox_container .texbox input:focus ~ .span_holder .border_left {
  transition-property: all;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  box-shadow: 1px 1px 5px 0px #15f5ba;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #15f5ba;
  height: 100%;
  width: 2px;
}
.input_4 .texbox_container .texbox input:valid ~ .span_holder .border_bottom, .input_4 .texbox_container .texbox input:focus ~ .span_holder .border_bottom {
  transition-property: all;
  transition-delay: 0.4;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  box-shadow: 1px 1px 5px 0px #15f5ba;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 2px;
}
.input_4 .texbox_container .texbox input:valid ~ .span_holder .border_right, .input_4 .texbox_container .texbox input:focus ~ .span_holder .border_right {
  transition-property: all;
  transition-delay: 0.6s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  box-shadow: 1px 1px 5px 0px #15f5ba;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  height: 100%;
  width: 2px;
}
.input_4 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_4 .texbox_container .texbox .span_holder .border_top {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 0%;
  height: 5px;
}
.input_4 .texbox_container .texbox .span_holder .border_left {
  transition-property: all;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #15f5ba;
  height: 0%;
  width: 5px;
}
.input_4 .texbox_container .texbox .span_holder .border_bottom {
  transition-property: all;
  transition-delay: 0.4s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #15f5ba;
  width: 0%;
  height: 5px;
}
.input_4 .texbox_container .texbox .span_holder .border_right {
  transition-property: all;
  transition-delay: 0.6s;
  transition-duration: 0.2;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  height: 0%;
  width: 5px;
}

/*
todo input_4
*/
/*
todo input_5
*/
/*
todo mixin input_5 start
*/
/*
todo mixin input_5 end
*/
.input_5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_5 .texbox_container {
  box-shadow: 1px 1px 5px gray;
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_5 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_5 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #f1eee9;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_5 .texbox_container .texbox input:valid ~ .span_holder .border_right, .input_5 .texbox_container .texbox input:focus ~ .span_holder .border_right {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  box-shadow: 1px 1px 100px 100px #15f5ba;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  height: 100%;
  width: 2px;
}
.input_5 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_5 .texbox_container .texbox .span_holder .border_right {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  height: 0%;
  width: 5px;
}

/*
todo input_5
*/
/*
todo input_6
*/
/*
todo mixin input_6 start
*/
/*
todo mixin input_6 end
*/
.input_6 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_6 .texbox_container {
  box-shadow: 1px 1px 5px gray;
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_6 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_6 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #f1eee9;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_6 .texbox_container .texbox input:valid ~ .span_holder .border_bottom, .input_6 .texbox_container .texbox input:focus ~ .span_holder .border_bottom {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  box-shadow: 1px 1px 5px 0px #15f5ba;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 2px;
}
.input_6 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_6 .texbox_container .texbox .span_holder .border_bottom {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #15f5ba;
  width: 0%;
  height: 5px;
}

/*
todo input_6
*/
/*
todo input_7
*/
/*
todo mixin input_7 start
*/
/*
todo mixin input_7 end
*/
.input_7 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_7 .texbox_container {
  box-shadow: 1px 1px 5px gray;
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_7 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_7 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 11%;
  border: 1px solid #f1eee9;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_7 .texbox_container .texbox input:valid ~ .span_holder .icon, .input_7 .texbox_container .texbox input:focus ~ .span_holder .icon {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 10%;
  height: 100%;
  background-image: url(https://res.cloudinary.com/dlacoctwh/image/upload/v1706996825/jpg2000/svg_vuqjhv.svg);
  background-size: 100% 100%;
}
.input_7 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_7 .texbox_container .texbox .span_holder .icon {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #f1eee9;
  width: 10%;
  height: 100%;
  background-image: url(https://res.cloudinary.com/dlacoctwh/image/upload/v1706996825/jpg2000/svg_vuqjhv.svg);
  background-size: 100% 100%;
}

/*
todo input_7
*/
/*
todo input_8
*/
/*
todo mixin input_8 start
*/
/*
todo mixin input_8 end
*/
.input_8 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_8 .texbox_container {
  box-shadow: 1px 1px 5px gray;
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_8 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_8 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 11%;
  border: 1px solid #f1eee9;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_8 .texbox_container .texbox input:valid ~ .span_holder .hover, .input_8 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 10%;
  height: 100%;
}
.input_8 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_8 .texbox_container .texbox .span_holder .hover {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
}

/*
todo input_8
*/
/*
todo input_9
*/
/*
todo mixin input_9 start
*/
/*
todo mixin input_9 end
*/
.input_9 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_9 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
  border-bottom: 1px solid #15133c;
}
.input_9 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_9 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_9 .texbox_container .texbox input:valid ~ .span_holder .hover, .input_9 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #15f5ba;
}
.input_9 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_9 .texbox_container .texbox .span_holder .hover {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
}

/*
todo input_9
*/
/*
todo input_10
*/
/*
todo mixin input_10 start
*/
/*
todo mixin input_10 end
*/
.input_10 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_10 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
}
.input_10 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_10 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_10 .texbox_container .texbox input:valid ~ .span_holder .hover, .input_10 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #15f5ba;
}
.input_10 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_10 .texbox_container .texbox .span_holder .hover {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
}

/*
todo input_10
*/
/*
todo input_11
*/
/*
todo mixin input_11 start
*/
/*
todo mixin input_11 end
*/
.input_11 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_11 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
  border-bottom: 1px solid #15133c;
}
.input_11 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_11 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_11 .texbox_container .texbox input:valid ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #15f5ba;
}
.input_11 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #f72798;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #f72798;
}
.input_11 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_11 .texbox_container .texbox .span_holder .hover {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
}

/*
todo input_11
*/
/*
todo mixin input_12 start
*/
/*
todo mixin input_12 end
*/
.input_12 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_12 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
  border-bottom: 1px solid #15133c;
}
.input_12 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_12 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_12 .texbox_container .texbox input:valid ~ .span_holder .hover, .input_12 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 1%;
  border-bottom: 1px solid #15f5ba;
}
.input_12 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.input_12 .texbox_container .texbox .span_holder .hover {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: linear;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
}

/*
todo input_12
*/
/*
todo mixin input_13 start
*/
/*
todo mixin input_13 end
*/
.input_13 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_13 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
  border-bottom: 1px solid #15133c;
}
.input_13 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_13 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_13 .texbox_container .texbox input:focus ~ .span_holder {
  animation-name: hover_input_13;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.input_13 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  animation: hover_input_13;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #15f5ba;
}
@keyframes hover_input_13 {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 0%;
    height: 20%;
  }
  25% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 25%;
    height: 20%;
  }
  50% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 50%;
    height: 20%;
  }
  75% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 75%;
    height: 20%;
  }
  100% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 100%;
    height: 20%;
  }
}
.input_13 .texbox_container .texbox input:valid ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #15f5ba;
}
.input_13 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

/*
todo input_13
*/
/*
todo mixin input_13 start
*/
/*
todo mixin input_13 end
*/
.input_13 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_13 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
  border-bottom: 1px solid #15133c;
}
.input_13 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_13 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_13 .texbox_container .texbox input:focus ~ .span_holder {
  animation-name: hover_input_13;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.input_13 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  animation: hover_input_13;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #15f5ba;
}
@keyframes hover_input_13 {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 0%;
    height: 20%;
  }
  25% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 25%;
    height: 20%;
  }
  50% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 50%;
    height: 20%;
  }
  75% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 75%;
    height: 20%;
  }
  100% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 100%;
    height: 20%;
  }
}
.input_13 .texbox_container .texbox input:valid ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #15f5ba;
}
.input_13 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

/*
todo input_13
*/
/*
todo mixin input_13 start
*/
/*
todo mixin input_13 end
*/
.input_13 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_13 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
  border-bottom: 1px solid #15133c;
}
.input_13 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_13 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_13 .texbox_container .texbox input:focus ~ .span_holder {
  animation-name: hover_input_13;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.input_13 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  animation: hover_input_13;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #15f5ba;
}
@keyframes hover_input_13 {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 0%;
    height: 20%;
  }
  25% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 25%;
    height: 20%;
  }
  50% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 50%;
    height: 20%;
  }
  75% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 75%;
    height: 20%;
  }
  100% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 100%;
    height: 20%;
  }
}
.input_13 .texbox_container .texbox input:valid ~ .span_holder .hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #15f5ba;
}
.input_13 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

/*
todo input_13
*/
/*
todo mixin input_14 start
*/
/*
todo mixin input_14 end
*/
.input_14 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_14 .texbox_container {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: Oswald;
  border-bottom: 1px solid #15133c;
}
.input_14 .texbox_container .texbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_14 .texbox_container .texbox input {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 1px 1px 5px gray;
  background-color: transparent;
  border-radius: 5x;
  outline: none;
  color: #15133c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input_14 .texbox_container .texbox input:focus ~ .span_holder {
  animation-name: hover_input_14;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.input_14 .texbox_container .texbox input:focus ~ .span_holder .hover {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #15f5ba;
  animation: hover_input_14;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #15f5ba;
}
@keyframes hover_input_14 {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 0%;
    height: 0%;
  }
  25% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 25%;
    height: 20%;
  }
  50% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 50%;
    height: 0%;
  }
  75% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewX(0deg) skewY(0deg) rotate(0deg);
    width: 75%;
    height: 20%;
  }
  100% {
    transform: translateX(0px) translateY(0px) translateZ(0px) perspective(0px) scaleX(1) scaleX(1) scaleX(1) skewY(0deg) skewX(0deg) rotate(0deg);
    width: 100%;
    height: 0%;
  }
}
.input_14 .texbox_container .texbox input:valid ~ .span_holder .hover {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #15f5ba;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #15f5ba;
}
.input_14 .texbox_container .texbox .span_holder {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

/*
todo input_14
*//*# sourceMappingURL=main.css.map */